*{
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}
.rat{
    height: 80vh;
   background-image: url(https://iglnetwork.com/assets/images/profile-banner-01.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.fat{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url(https://iglnetwork.com/assets/images/cr1.jpg);
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    clip-path: circle(50%);
}
.sat{
    margin-top: 15%;
    
}